<h1>List of users in your area</h1>


<h3>Full name:<%= @user.fname %></h3>
<h3>Alias:<%=@user.alias %></h3>
<h3>Friend Code:<%= @user.ffc %></h3>
<h3>Nintendo Network Id:<%= @user.fid %></h3>
<p>this is a profile</p>
